body{
  background-color:#FE975C ;
}

h1{
  color:#FFFFFF ;
  background-color:#8EB2F7 ;
  padding:15px;
}

h3{
  color:#FFFFFF ;
  background-color:#8EB2F7 ;
}

label{
  color:#FFFFFF ;
}
div{
   color:#FFFFFF
}